.button {
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid var(--background-2);

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
}

.button:hover {
  background: var(--background-3);
  border: 1px solid var(--background-3);
}

.primary {
  background: var(--background-2);
  color: white;
}

.secondary {
  background: white;
  color: var(--background-2);
}

.secondary:hover {
  color: white;
}