.login {
  width: 100vw;
  height: 100vh;
  padding: 94px 378px;
  background-color: var(--background-2);

  text-align: center;
}

.login .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  overflow-y: auto;
}

.login form {
  gap: 41px;
}

.login form .formControl {
  gap: 22px;
}

.login h4 {
  color: var(--cinza-2);
}

.login h4 a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  
  color: var(--background-2);
  text-transform: none;
}