.login {
  display: flex;
  width: 100vw;
  height: 100vh; 
  padding: 94px 0;
  background-color: var(--background-2);

  text-align: center;
  overflow-y: auto;
}

.login .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  width: 48%;
  min-width: 684px;
  height: auto;
}

.login img {
  width: 11.62rem;
  height: 11.62rem;
}

.login form {
  gap: 41px;
}

.login form .formControl {
  gap: 22px;
}

.login h4 {
  color: var(--cinza-2);
}

.login h4 a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.44rem;
  
  color: var(--background-2);
  text-transform: none;
}


@media(max-width: 750px){ 
  .login {
    padding: 94px 20px;
  }
  
  .login .card {  
    width: 100%;
    min-width: 100%;
  }
}